:root{

    font-family: Georgia, Times, 'Times New Roman', Sans-Serif;
    font-size: 16px;
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    --disabled-color: rgb(51, 51, 51);
    --disabled-button-background-color: rgb(122, 122, 122);
    --disabled-background-color: rgb(143, 143, 143);
    --disabled-border-color: rgb(112, 112, 112);

    --health-bar-background-color: rgb(150, 29, 29);
    --health-bar-foreground-color: rgb(250, 62, 62);
    --mana-bar-background-color: rgb(29, 107, 138);
    --mana-bar-foreground-color: rgb(52, 141, 177);

    --primary-color-button: rgb(200, 200, 200);
    --primary-color-button-hover: rgb(168, 168, 168);
    --primary-color-button-active: rgb(138, 138, 138);
    --primary-color-button-disabled: var(--primary-color-button-active);

    --secondary-background-color: rgb(94, 94, 94);
}

span{
    font-size: 0.8rem;
}

[data-tab-content]{
    display: none;
}

.active[data-tab-content]{
    display: block;
}

div.g-button{
    font-size: 1.2rem;
}

.g-button{
    display: inline-block;
    padding: 3px 6px;
    background-color: var(--primary-color-button);
    user-select: none;
    text-align: center;
}


.g-button:hover{
    cursor: default;
    background-color: var(--primary-color-button-hover);
}
.g-button:active,
.g-button.active{
    background-color: var(--primary-color-button-active);
}
.g-button[disabled]{
    background-color: var(--primary-color-button-disabled);
    pointer-events: none;
}

.g-vertical-menu-container{
    flex: 1;
    text-align: center;
    padding: 6px;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.g-vertical-menu-container.u-separator .g-button{
    border-bottom: 1px solid black;
}
.g-vertical-menu-container .g-button{
    display: block;
}


.g-separator{
    content: '';
    margin: auto;
    width: 100%;
    height: 1px;
    /* background-color: rgb(77, 77, 77); */
    background: linear-gradient(90deg,transparent,rgb(77, 77, 77), transparent);
}

.g-progress-bar-background{
    position:relative;
    height: 30px;
}

.g-progress-bar-foreground{
    height: 100%;
    position: absolute;
}




/*Home Page*/
.p{
    display: none;
}

.p.active{
    display: block;
}

/*top*/

/*back button*/
.p-home .btn-go-to-game-page{
    display: inline-block;
}

.p-home .btn-go-to-game-page.active{
    padding: 0px 24px;
}

/*title*/
.p-home > .title{
    text-align: center;
    font-size: 1.5em;
    font-weight: 1000;
}

/*Buttons*/

.p-home .s-buttons{
    display: flex;
    margin: auto 0;
}

.p-home [data-tab-content]{
    padding: 6px;
    margin: 6px;
    background-color: var(--);
}



/*Modules tab*/
.p-home .s-modules .s-search{
    min-width: 300px;
    margin: 0px 0px 6px;
}
.p-home .s-modules .s-search input[type="url"]{
    outline: none;
    display: inline-block;
    margin: auto;
    font-size: 1em;
}
.p-home .s-modules .s-search-field{
    min-width: 100px;
}

.p-home .s-modules .s-container{
    min-height: 300px;
}

.p-home .s-modules .s-container .module-button.search-hidden{
    display:none;
}
.p-home .s-modules .s-container .module-button .title{
    display: flex;
}

.p-home .s-modules .s-container .module-button .title{
    user-select: none;
}

.p-home .s-modules .s-container .module-button .title:hover{
    cursor: default;
    /* background-color: rgb(116, 116, 116); */
    background-color: var(--primary-color-button-hover);
}

.p-home .s-modules .s-container .module-button .title:active{
    background-color: var(--primary-color-button-active);
}

.p-home .s-modules .s-container .module-button .content{
    display: none;
}

.p-home .s-modules .s-container .module-button .content.active{
    background-color: rgb(131, 131, 131);
    box-shadow: inset 0px 0px 3px;
    display: block;
    cursor: auto;
    padding: 6px;
}
.p-home .s-modules .s-container .module-button .content.active p{
    cursor: auto;
    text-align: center;
    white-space:pre-line;
}
.p-home .s-modules .s-container .module-button .content .start-button{
    margin: auto;
    align-self: center;
    display: inline-block;
}



/*Load tab*/
.p-home .s-load .load-button{
    display: inline-block;
    width: 60px;
    text-align: center;
}

.p-home .s-load .s-container{
    padding: 3px;
}


/*Upload tab*/
.p-home .s-upload .s-drop-area{
    background-color: rgb(131, 131, 131);
    min-height: 100px;
    min-width: 100px;
    box-shadow: inset 0px 0px 3px black;
    padding: 3px;
}
.p-home .s-upload .s-drop-area > div.error{
    color: rgb(255, 0, 0);
    font-weight: bold;
}
.p-home .s-upload .s-drop-area.empty::before{
    content: "Drag files or folder here";
}
.p-home .s-upload .s-drop-area.drag-over{
    box-shadow: inset 0px 0px 3px rgb(255, 0, 0);
}
.p-home .s-upload .s-drop-area input[type=file]{
    display:none;
}

.p-home .s-upload .warning{
    display: none;
}
.p-home .s-upload .warning.active{
    color: rgb(228 132 132);
    display: block;
    font-size: 0.8em;
    white-space: pre-wrap;
}


/*Game Page*/

.p-game.active{
    flex: 1;
    box-sizing: border-box;
}

.p-game .go-to-home-button{
    display: inline-block;
}

.p-game .main{
    display: flex;
}

@media (max-width: 1000px){
    .p-game .main{
        flex-wrap: wrap;
    }
}

.p-game .s-menu{
    /* flex: 1; */
    min-width: 200px;
    max-width: 250px;
}

.p-game .p-main {
    flex: 1;
}

/*Combat*/

.p-combat{
    display: none;
}

.p-combat.active{
    display: block;
}

.s-health-bar-background{
    background-color: var(--health-bar-background-color);
}
.health-bar{
    background-color: var(--health-bar-foreground-color);
}

.s-mana-bar-background{
    background-color: var(--mana-bar-background-color);
}
.mana-bar{
    background-color: var(--mana-bar-foreground-color);
}


.ailment{
    visibility: hidden;
}
.ailment.visible{
    visibility:visible;
}


@keyframes shake{
    0% { transform: translate(1px, -1px);  } 
    33% { transform: translate(-1px, 2px);  } 
    66% { transform: translate(1px, -1px);  } 
    100% { transform: translate(-1px, 1px);  }
}
.shake {
    animation-name: shake;
    animation-duration: 0.2s;
    animation-iteration-count: infinte;
}


/*Skills*/
.s-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.s-skills .s-buttons{
    display: inline-flex;
}

.s-skills .skill-button.viewing{
    outline: 1px solid rgb(83, 83, 83);
    box-shadow: 0px 3px 3px -1px;
    z-index: -1;
}

.s-skills .s-skill-view{
    text-align: center;
    margin: 6px 24px;
    padding: 6px;
    border: 2px solid rgb(83, 83, 83);
}

.s-skills .s-skill-view .name{
    font-weight: bold;
    margin: 6px 0px;
}

.s-skills .s-skill-view .s-stats{
    white-space: pre-wrap;
    margin: 6px 0px;
}

.s-skills .s-skill-view .s-mods{
    white-space: pre-wrap;
    margin: 6px 0px;
}
.s-skills .s-skill-view .g-button{
    bottom: 6px;
    padding: 3px;
    margin: 6px 0px;
}
.s-skills .s-skill-view button.active{
    background-color: var(--disabled-button-background-color);
    
}

/*Items*/
.p-game .p-items .s-items .s-content{
    display: flex;
}

.p-game .p-items .s-items .s-item-list{
    flex: 0.5;
}

.p-game .p-items .s-items .s-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    border: 1px solid black;
    padding: 6px;
    margin: 6px;
}

.p-game .p-items .s-items .s-item-options{
    flex: 0.5;
}

/*Craft action*/
.p-game .p-items .s-items .s-item-options .s-basic .s-craft-action{
    display: none;
}
.p-game .p-items .s-items .s-item-options .s-basic .s-craft-action.active{
    display: block;
    background-color: bisque;
    padding: 3px 12px;
}
.p-game .p-items .s-items .s-item-options .s-basic .s-craft-action .title{
    text-align: center;
    font-weight: 800;
}
.p-game .p-items .s-items .s-item-options .s-basic .s-craft-action .tier{
    width: 100%;
    outline: none;
}

.p-game .p-items .s-items .s-item-options .s-basic .s-craft-action button{
    display: block;
    width: 100%;
}

/*Mod Tree*/
.p-mod-tree{
    flex-basis: 0;
}
.p-mod-tree .s-mod-tree > label{
    display: block;
}
.p-mod-tree .s-mod-tree .s-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.p-mod-tree .s-group-container{
    background-color: rgb(199, 199, 199);
    flex: 1;
    overflow: auto;
    min-width: 200px;
}
.p-mod-tree .s-group-container .s-group{
    display: none;
}
.p-mod-tree .s-group-container .s-group.active{
    display: block;
    min-width: 150px;
    word-wrap: break-word;
    padding: 3px;
}
.p-mod-tree .s-group-container .s-group .req-points-label{
    background-color: rgb(155, 155, 155);
    padding: 3px;
    white-space: nowrap;
}
.p-mod-tree .s-group-container .s-group .s-node{
    /* padding: 3px; */
    display: flex;
}
.p-mod-tree .s-group-container .s-group .s-node .name{
    flex:1;
}

.p-mod-tree .s-group-container .s-group .s-node{
    text-align: left;
}
.p-mod-tree .s-tooltip{
    background-color: rgb(177, 177, 177);
    padding: 6px;
    text-align: center;
    min-width: 350px;
}
.p-mod-tree .s-tooltip .name{
    font-weight: 600;
}
/*Stats*/
.p-game .s-stats{
    min-width: 300px;
    max-width: 450px;
    flex: 1;
}

.p-game .s-stats .s-stats-field{
    display: flex;
}
.p-game .s-stats .s-stats-field div{
    display: inline-block;
    white-space: nowrap;
}
.p-game .s-stats .s-stats-field div:first-child{
    flex: 1;
}
.p-game .s-stats .s-stats-field:nth-child(even){
    background-color: rgb(230, 230, 230);
}