:root{

    /* font-family: Georgia, Times, 'Times New Roman', Sans-Serif; */
    font-size: 20px;

    --disabled-color: rgb(51, 51, 51);
    --disabled-button-background-color: rgb(122, 122, 122);
    --disabled-background-color: rgb(143, 143, 143);
    --disabled-border-color: rgb(112, 112, 112);

    --secondary-background-color: rgb(105, 105, 105);

    --health-bar-background-color: rgb(150, 29, 29);
    --health-bar-foreground-color: rgb(250, 62, 62);
    --mana-bar-background-color: rgb(29, 107, 138);
    --mana-bar-foreground-color: rgb(52, 141, 177);

    --primary-color-button: rgb(200, 200, 200);
    --primary-color-button-hover: rgb(168, 168, 168);
    --primary-color-button-active: rgb(138, 138, 138);
    --primary-color-button-disabled: var(--primary-color-button-active);
}


body{
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 6px;
}

fieldset{
    border: 1px solid #00000030;
    padding: 0px 6px 6px 12px;
    /* display:inline-block; */
}

[data-tab-content]{
    display: none; 
}

div.hide,
*.hide{
    display: none;
}

.active[data-tab-content]{
    display: block;
}

button {
    all: unset;
}

input{
    outline: 0;
}


/*#region Globals*/ 
.g-button{
    display: inline-block;
    padding: 3px 6px;
    background-color: var(--primary-color-button);
    user-select: none;
    text-align: center;
}

.g-button:hover{
    cursor: default;
    background-color: var(--primary-color-button-hover);
}
.g-button:active,
.g-button.active{
    background-color: var(--primary-color-button-active);
}
.g-button[disabled]{
    background-color: var(--primary-color-button-disabled);
    pointer-events: none;
}

.g-vertical-menu-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 6px;
    overflow-y: auto;
    /* flex: 1; */
}
.g-vertical-menu-container .g-button:not(:last-of-type){
    border-bottom: 1px solid var(--primary-color-button-disabled);
}

.g-separator{
    content: '';
    margin: auto;
    width: 100%;
    height: 1px;
    /* background-color: rgb(77, 77, 77); */
    background: linear-gradient(90deg,transparent,rgb(77, 77, 77), transparent);
}


.g-progress-bar-background{
    position:relative;
    height: 30px;
}

.g-progress-bar-foreground{
    height: 100%;
    position: absolute;
}

.g-formatted-stats td:first-child{
    padding-right: 24px;
}
.g-formatted-stats tr:nth-child(odd){
    background-color: rgb(230, 230, 230);
}

/*#endregion*/

/*#region Home Page*/

.p-home.active{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.p-home .game-btn{
    display: block;
    align-self: flex-start;
}

.p-home .s-buttons{
    display: flex;
    margin: auto 0;
    margin-top: 6px;
}

.p-home .s-new-modules{
    margin-top: 3px;
    padding-top: 3px;
    border: 1px solid #00000020;

}

.p-home .s-module-list{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.p-home .s-module-list .s-container{
    padding-left: 0px;
}

.p-home .s-filter input[type="url"]{
    outline: none;
    display: inline-block;
    margin: auto;
    font-size: 1em;
}
.p-home .s-module-list .module-button{
    display: block;
    text-align: left;
}
.p-home .s-module-list .module-button[data-hidden]{
    display: none !important;
}

.p-home .s-module-info{
    flex: 0.7;
    padding: 6px;
    text-align: center;
    box-shadow: inset 0px 0px 3px;
    margin: 6px;
    display: flex;
    flex-direction: column;
}
.p-home .s-module-info .name{
    white-space: pre-wrap;
    margin: 0;
    font-size: 1.1rem;
}
.p-home .s-module-info .description{
    flex: 1;
    white-space: pre-wrap;
    font-size: 0.8rem;
    overflow-y: auto;
}

/*Modules tab*/
.p-home .s-new-modules.active{
    min-height: 0px;
    flex: 1;
    display: flex;
}

/*Load tab*/
.p-home .s-load-modules.active{
    min-height: 0px;
    flex: 1;
    display: flex;
}
.p-home .s-load-modules .s-module-list .module-button{
    display: flex;
}
.p-home .s-load-modules .s-module-list .module-button .title{
    flex: 1;
}

/*Upload tab*/
.p-home .s-upload .s-drop-area{
    min-height: 100px;
    min-width: 100px;
    box-shadow: inset 0px 0px 3px black;
    padding: 6px;
}
.p-home .s-upload .s-drop-area > div.error{
    color: rgb(255, 0, 0);
    font-weight: bold;
}
.p-home .s-upload .s-drop-area.empty::before{
    content: "Drag files or folder here";
}
.p-home .s-upload .s-drop-area.drag-over{
    box-shadow: inset 0px 0px 3px rgb(255, 0, 0);
}
.p-home .s-upload .s-drop-area input[type=file]{
    display:none;
}

.p-home .s-upload .warning{
    display: none;
}
.p-home .s-upload .warning.active{
    color: rgb(228 132 132);
    display: block;
    font-size: 0.8em;
    white-space: pre-wrap;
}
/*#endregion*/

/*#region Game Page*/

.p-game.active{
    flex: 1;
    min-height: 0px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
    'top top top'
    'menu main stats';
}

.p-game .s-top{
    grid-area: top;
}

.p-game .s-top .s-text{
    text-align: center;
}

.p-game .s-menu{
    display: flex;
    min-width: 150px;
    grid-area: menu;
}
.p-game .s-menu > .s-container{
    flex: 1;
}

.p-game main {
    display: flex;
    flex: 1;
    grid-area: main;
}

/*Combat*/
.s-combat.active{
    display: block;
    flex: 1;
}

.p-game main .s-combat .s-health-bar-background{
    background-color: var(--health-bar-background-color);
}
.p-game main .s-combat .health-bar{
    background-color: var(--health-bar-foreground-color);
}

.p-game main .s-combat .s-mana-bar-background{
    background-color: var(--mana-bar-background-color);
}
.p-game main .s-combat .mana-bar{
    background-color: var(--mana-bar-foreground-color);
}


.p-game main .s-combat .ailment{
    visibility: hidden;
}
.p-game main .s-combat .ailment.visible{
    visibility:visible;
}


@keyframes shake{
    0% { transform: translate(1px, -1px);  } 
    33% { transform: translate(-1px, 2px);  } 
    66% { transform: translate(1px, -1px);  } 
    100% { transform: translate(-1px, 1px);  }
}
.shake {
    animation-name: shake;
    animation-duration: 0.2s;
    animation-iteration-count: infinte;
}


/*Skills*/
.p-game main .s-skills.active{
    flex: 1;
    display: flex;
}

.p-game main .s-skills .s-skill-list{
    flex: 1;
    display: flex;
}

.p-game main .s-skills .s-skill-list .list{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    white-space: nowrap;
    padding: 3px;
    overflow-y: auto;
}

.p-game main .s-skills .s-skill-list .viewing{
    border: 1px solid rgb(212, 176, 60);
}

.p-game main .s-skills .s-skill-list .g-button{
    text-align: left;
}

.p-game main .s-skills .s-skill-info{
    flex: 0.7;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 3px;
}
.p-game main .s-skills .s-skill-info .separator{
    margin: 3px 0px;
}
.p-game main .s-skills .s-skill-info .s-stats{
    flex: 0;
}
.p-game main .s-skills .s-skill-info .s-stats,
.p-game main .s-skills .s-skill-info .s-mods{
    white-space: pre;
    padding: 3px;
}

.p-game main .s-skills .s-skill-info .s-mods{
    overflow-y: auto;
    flex: 1;
}

/*Items*/
.p-game main .s-items.active{
    display: flex;
    flex: 1;
}

.p-game main .s-items .s-item-list{
    flex: 0.3;
}

.p-game main .s-items .s-item{
    border-collapse: separate; ;
    text-align: center;
    flex: 1;
    height: 0;
    border-spacing: 0 0.2rem;
}
.p-game main .s-items .s-item tr{
    width: 100%;
    /* height: 0px; */
}
.p-game main .s-items .s-item td:first-child{
    padding-right: 6px;
}
.p-game main .s-items .s-item td:last-child{
    padding-left: 6px;
}

/* .p-game main .s-items .s-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    border: 1px solid black;
    padding: 6px;
    margin: 6px;
    min-width: 200px;
    overflow-y: auto;
    white-space: pre;
} */

.p-game main .s-items .s-item-options{
    flex: 0.7;
    overflow-y: auto;
}

/*Craft action*/
.p-game main .s-items .s-item-options .s-basic .s-craft-action{
    display: none;
}
.p-game main .s-items .s-item-options .s-basic .s-craft-action.active{
    display: block;
    background-color: bisque;
    padding: 3px 12px;
}
.p-game main .s-items .s-item-options .s-basic .s-craft-action .title{
    text-align: center;
    font-weight: 800;
}
.p-game main .s-items .s-item-options .s-basic .s-craft-action .tier{
    width: 100%;
    outline: none;
}

.p-game main .s-items .s-item-options .s-basic .s-craft-action button{
    display: block;
    width: 100%;
}

/*Mod Tree*/
.p-game main .s-mod-tree.active{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 0.7fr;
    grid-template-areas: 
    "top top"
    "list info";
    min-height: 0px;
    flex: 1;
}

.p-game main .s-mod-tree .s-top{
    grid-area: top;
}
.p-game main .s-mod-tree > label{
    display: block;
}

.p-game main .s-mod-tree .s-list{
    grid-area: list;
    overflow-y: auto;
}

.p-game main .s-mod-tree .s-list .s-node{
    cursor: default;
    display: flex;
}
.p-game main .s-mod-tree .s-list .s-node .name{
    cursor: default;
    text-align: left;
    flex: 1;
    white-space: nowrap;
    margin-right: 6px;
}

.p-game main .s-mod-tree .s-node-info{
    grid-area: info;
    background-color: rgb(177, 177, 177);
    padding: 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    min-height: 0px;
}
.p-game main .s-mod-tree .s-node-info .name{
    font-weight: 600;
}
.p-game main .s-mod-tree .s-node-info .content{
    flex: 1;
    white-space: pre-wrap;
    overflow-y: auto;
}

/*Stats*/
.p-game aside.s-stats{
    overflow-y: auto;
    grid-area: stats;
    padding: 6px;
}

.p-game aside.s-stats table{
    border-collapse: collapse;
}
.p-game aside.s-stats table td{
    padding: 3px 6px;
}

.p-game aside.s-stats td:first-child{
    padding-right: 24px;
}
.p-game aside.s-stats tr:nth-child(odd){
    background-color: rgb(230, 230, 230);
}

/*#endregion*/