
/*Home Page*/
.p{
    display: none;
}

.p.active{
    display: block;
}

/*top*/

/*back button*/
.p-home .btn-go-to-game-page{
    display: inline-block;
}

.p-home .btn-go-to-game-page.active{
    padding: 0px 24px;
}

/*title*/
.p-home > .title{
    text-align: center;
    font-size: 1.5em;
    font-weight: 1000;
}

.p-home .s-wrapper{
    background-color: var(--secondary-background-color);
    padding: 3px;
}

/*Buttons*/


.p-home .start-button{
    width: 60px;
    text-align: center;
}

.p-home .s-buttons{
    display: flex;
    font-size: 1.2em;
    margin: 3px;
}
.p-home .s-buttons .custom-module-button{
    margin-left: auto;
}


.p-home .s-buttons > div{
    display: inline-block;
    padding: 6px;
}

.p-home [data-tab-content]{
    padding: 6px;
    margin: 6px;
}


.p-home .start-button{
    margin: auto;
}

.p-home .module-button .title{
    user-select: none;
}

.p-home .module-button .title:hover{
    cursor: default;
    /* background-color: rgb(116, 116, 116); */
    background-color: var(--primary-color-button-hover);
}


.p-home .module-button .title:active{
    background-color: var(--primary-color-button-active);
}

.p-home .module-button .content{
    display: none;
}

.p-home .module-button .content.active{
    background-color: rgb(131, 131, 131);
    box-shadow: inset 0px 0px 3px;
    display: block;
    cursor: auto;
    font-size: 0.8em;
    text-align: center;
    overflow: hidden;
    padding: 6px;
    white-space:pre-line;
}

/*Modules tab*/
.p-home .s-modules .s-search{
    min-width: 300px;
    margin: 0px 0px 6px;
}
.p-home .s-modules .s-search input[type="url"]{
    outline: none;
    display: inline-block;
    margin: auto;
    font-size: 1em;
}
.p-home .s-modules .s-search-field{
    min-width: 100px;
}

.p-home .s-modules .s-container{
    /* padding: 6px; */
    min-height: 300px;
}

.p-home .s-modules .s-container .search-hidden{
    display:none;
}


/*Load tab*/
.p-home .s-load .load-button{
    display: inline-block;
    width: 60px;
    text-align: center;
}

.p-home .s-load .start-button{
    margin-top: 3px;
}

.p-home .s-load .s-container{
    padding: 3px;
}


/*Upload tab*/
.p-home .s-upload .start-button{
    margin-top: 3px;
}

.p-home .s-upload .s-drop-area{
    background-color: rgb(131, 131, 131);
    min-height: 100px;
    min-width: 100px;
    box-shadow: inset 0px 0px 3px black;
    padding: 3px;
}
.p-home .s-upload .s-drop-area > div.error{
    color: rgb(255, 0, 0);
    font-weight: bold;
}
.p-home .s-upload .s-drop-area.empty::before{
    content: "Drag files or folder here";
}
.p-home .s-upload .s-drop-area.drag-over{
    box-shadow: inset 0px 0px 3px rgb(255, 0, 0);
}
.p-home .s-upload .s-drop-area input[type=file]{
    display:none;
}

.p-home .s-upload .warning{
    display: none;
}
.p-home .s-upload .warning.active{
    color: rgb(228 132 132);
    display: block;
    font-size: 0.8em;
    white-space: pre-wrap;
}