html{

    font-family: Georgia, Times, 'Times New Roman', Sans-Serif;
    font-size: 16px;
    /* font-family:Georgia, 'Times New Roman', Times, serif; */
    --disabled-color: rgb(51, 51, 51);
    --disabled-button-background-color: rgb(122, 122, 122);
    --disabled-background-color: rgb(143, 143, 143);
    --disabled-border-color: rgb(112, 112, 112);

    --health-bar-background-color: rgb(150, 29, 29);
    --health-bar-foreground-color: rgb(250, 62, 62);
    --mana-bar-background-color: rgb(29, 107, 138);
    --mana-bar-foreground-color: rgb(52, 141, 177);

    --primary-color-button: rgb(200, 200, 200);
    --primary-color-button-hover: rgb(168, 168, 168);
    --primary-color-button-active: rgb(138, 138, 138);
    --primary-color-button-disabled: var(--primary-color-button-active);

    --secondary-background-color: rgb(94, 94, 94);
}

span{
    font-size: 0.8rem;
}

[data-tab-content]{
    display: none;
}

.active[data-tab-content]{
    display: block;
}

div.g-button{
    font-size: 1.2rem;
}

.g-button{
    display: inline-block;
    padding: 3px 6px;
    background-color: var(--primary-color-button);
    user-select: none;
    text-align: center;
}


.g-button:hover{
    cursor: default;
    background-color: var(--primary-color-button-hover);
}
.g-button:active,
.g-button.active{
    background-color: var(--primary-color-button-active);
}
.g-button[disabled]{
    background-color: var(--primary-color-button-disabled);
    pointer-events: none;
}

.g-vertical-menu-container{
    flex: 1;
    text-align: center;
    padding: 6px;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.g-vertical-menu-container.u-separator .g-button{
    border-bottom: 1px solid black;
}
.g-vertical-menu-container .g-button{
    display: block;
}


.g-separator{
    content: '';
    margin: auto;
    width: 100%;
    height: 1px;
    /* background-color: rgb(77, 77, 77); */
    background: linear-gradient(90deg,transparent,rgb(77, 77, 77), transparent);
}

.g-progress-bar-background{
    position:relative;
    height: 30px;
}

.g-progress-bar-foreground{
    height: 100%;
    position: absolute;
}
