html{
    --disabled-color: rgb(51, 51, 51);
    --disabled-button-background-color: rgb(122, 122, 122);
    --disabled-background-color: rgb(143, 143, 143);
    --disabled-border-color: rgb(112, 112, 112);

    --health-bar-background-color: rgb(150, 29, 29);
    --health-bar-foreground-color: rgb(250, 62, 62);
    --mana-bar-background-color: rgb(29, 107, 138);
    --mana-bar-foreground-color: rgb(52, 141, 177);

    --primary-color-button: rgb(200, 200, 200);
    --primary-color-button-hover: rgb(168, 168, 168);
    --primary-color-button-active: rgb(138, 138, 138);
    --primary-color-button-disabled: var(--primary-color-button-active);

    --secondary-background-color: rgb(94, 94, 94);
}
